
###> symfony/framework-bundle ###
/config/secrets/prod/prod.decrypt.private.php
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
.env
z_upload_CMS_APP
vendor
var/cache/
var/log/
var/cach/dev/
.idea
public/css
public/fonts
public/img
public/js
public/favicon.ico
public/index.html
###< symfony/phpunit-bridge ###
